spring:
  config:
    import: optional:file:.env.edge[.properties]

elasticsearch:
  index-name: ocean-current-files-edge
  indexing:
    cron:
      expression: 0 0 1/2 * * ? # every 2 hours starting at 1:00 AM in Australia/Hobart time

app:
  cors:
    allowed-origins:
      - http://localhost:3000
      - http://localhost:5000
      - https://oceancurrent.edge.aodn.org.au
    allowed-methods:
      - GET
      - OPTIONS
    allow-credentials: true

logging:
  level:
    au.org.aodn.oceancurrent: debug
    au.org.aodn.oceancurrent.configuration.aws: debug

management:
  info:
    env:
      enabled: true

springdoc:
  swagger-ui:
    server:
      domain: https://oceancurrent.edge.aodn.org.au
