name: Skip ProductId Check - Edge
run-name: Update skip_product_id_check flag and deploy to Edge

on:
  workflow_dispatch:
    inputs:
      skip_product_id_check:
        description: "Skip productId validation check for this deployment (use when intentionally updating productIds)"
        type: boolean
        default: false

permissions:
  id-token: write
  contents: read
  actions: read

jobs:
  update_ssm_and_deploy:
    name: Update SSM and Deploy to Edge
    runs-on: ubuntu-latest
    environment: edge
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          audience: sts.amazonaws.com
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}

      - name: Update product id check flag in SSM Parameter
        run: |
          aws ssm put-parameter \
            --name "/apps/oceancurrent/edge/es_skip_product_id_check" \
            --type "String" \
            --value "$skip_product_id_check" \
            --overwrite
        env:
          skip_product_id_check: ${{ inputs.skip_product_id_check }}

      - name: Generate App Token
        uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.DEPLOY_APP_ID }}
          private-key: ${{ secrets.DEPLOY_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: "appdeploy"

      - name: Trigger Deploy Workflow
        uses: actions/github-script@v7
        with:
          github-token: ${{ steps.app-token.outputs.token }}
          retries: 3
          retry-exempt-status-codes: 204
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: 'aodn',
              repo: 'appdeploy',
              workflow_id: 'deploy.yml',
              ref: 'main',
              inputs: {
                app_name: 'oceancurrent',
                environment: 'edge'
              }
            })
